<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrap,.play_wrap{
            width: 1000px;
        }
        .song_wrapper{
            width: 400px;
            float: left;
        }
        .center_con{
            width: 200px;
        }
        .song{
            float: right;
            margin: auto;
        }
        .song img{
            width: 200px;
            height: 200px;
            border: none;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="play_wrap" id="player">
        <div class="search_bar">
            <input type="text" v-model="query" @keyup.enter="searchMusic" autocomplete="off">
        </div>
        <div class="center_con">
            <div class="song_wrapper">
                    <ul class="song_list">
                        <li v-for="item in musicList">
                            <a href="javascript:;" @click="playMusic(item.id)">
                            <b>{{ item.name }}</b>
                            <span><i>

                            </i></span>
                        </a></li>
                    </ul>
            </div>
        </div>
        <div class="song">
            <img src="../4K/FBC9E0C667A83C0BD1EAF73E77C50E6A.jpg" :src="musicPicUrl">
            <div class="audio_con">
                <audio controls="controls" autoplay="autoplay" loop="loop" :src="musicUrl"></audio>
            </div>
        </div>

    </div>
</div>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vue8-1.js">

    </script>
</body>
</html>